body,
h1,
h2,
h3,
li,
a,
ul {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;
	font: "Microsoft YaHei", Lato, Tahoma, Helvetica, Arial, '宋体', sans-serif;
	color: #666666;
	/* font-size: 22px; */
}

* {
	margin: 0;
	padding: 0;
	word-wrap: break-word
}

body {
	background-color: rgb(245, 245, 245);
	margin: 0 auto;
	padding: 0px;
	/*background: url(../picture/beijing.jpg) no-repeat;*/
	background-position: top center;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	position: relative;
	z-index: 9999;
	font: 15px/1.5 "Microsoft YaHei", Lato, Tahoma, Helvetica, Arial, '宋体', sans-serif;
}

.nav {
	/* width: 100%; */
	height: 50px;
	background-color: white;
	margin: 0 auto;
	padding: 0;
	position: fixed;
	top: 0;
	text-align: center;
	width: 100%;
	z-index: 2;
}

/* 导航左边的 */
.nav_left {
	width: 33.33%;
	float: left;
	height: 50px;
}

/* 导航中间的 */
.nav_center {
	width: 33.33%;
	float: left;
	height: 50px;

}

.nav_center ul {
	list-style-type: none;
	/*去除ul前面的点样式*/
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	/*超出宽和高的元素隐藏*/
	background-color: white;
	text-align: center;
	width: 638px;
	/*ul一定要加一个宽度否则不居中*/
	display: inline-block;
	/*加了行内块元素后不会变成块就是不会堆叠了*/
}

.nav_center li {
	float: left;
}

.nav_center a:hover:not(.active) {
	/* 除了active属性没有点击效果 */
	background-color: rgb(245, 245, 245);
}

.nav_center a {
	display: block;
	/*让他变为块级元素就能添加宽高等*/
	padding: 13px;
	/*四周添加内边距*/
	color: #666666;
}

.active {
	background-color: rgb(255, 130, 0);
}






/* 导航右边的 */
.nav_right {
	width: 33.33%;
	float: left;
	height: 50px;
}

/* logo*/
.logo {
	width: 100%;
	height: 200px;
	/* background: url(../img/2.png) no-repeat; */
	background-color: rgb(29, 167, 218);
	background-size: 100%;
	opacity: 0.9;
	overflow: hidden;
	/* 要添加一个定位元素后 才可以使用堆叠元素 相对于父亲元素 */
	position: relative;
	z-index: 1;
	box-shadow: 10px 10px 50px rgb(29, 167, 218);
	text-align: center;
}

.logo h2 {
	font-weight: bold;
	color: white;
	font-size: 28px;
	padding: 60px;
}

/* 框架正文开始 */
.frame {
	max-width: 1122px;
	height:2200px;
	margin: 0 auto;
	margin-top: 2px;
}


.frame_left_h {
	padding: 10px 16px;
	margin: 0 auto;
}

.frame_left_h h2 {
	color: rgb(51, 51, 51);
}

/* 框架正文 中间 */
.frame_content {
	width: 812px;
	margin-top: 20px;
	float: left;
	padding: 5px;
	position: relative;
	z-index: 1;
}

.frame_content_top {
	width: 822px;
	height: 280px;
	/* background-color: rgb(51, 51, 51); */
	/* padding: 5px; */
}

/* ------------------图片轮播-------------------- */
.frame_content_top_left {
	float: left;
	width: 552px;
	height: 280px;
	display: block;
	background-color: rosybrown;
	position: relative;
	overflow: hidden;
	/* border-radius: 10px; */
}

/* 规定了图片大小 */
.wrap img {
	width: 552px;
	height: 280px;
}

/* 这里轮播要none不然会有bug */
/* .img2{
    display: none;
}
.img3{
    display: none;
} */

.frame_content_top_left ul {
	position: absolute;
}

.frame_content_top_left ul li {
	height: 100%;
	width: 100%;
}

.frame_content_top_left ol {
	position: absolute;
	right: 5px;
	bottom: 10px;
}

.frame_content_top_left ol li {
	height: 20px;
	width: 20px;
	background: #ccc;
	border: solid 1px #666;
	margin-left: 5px;
	color: #000;
	float: left;
	line-height: center;
	text-align: center;
	cursor: pointer;
}

.frame_content_top_left ol .on {
	background: #E97305;
	color: #fff;
}














.frame_content_top_rt {
	display: inline-block;
	width: 255px;
	height: 130px;
	padding: 5px;
	/* margin:0; */
	/* padding: 0; */
	background-color: white;
	border-bottom: 1px solid rgb(255, 130, 0);
	border-radius: 10px;
	margin-left: 5px;
	overflow: hidden;
}

.frame_content_top_rt_name {
	padding: 10px;
}

.frame_content_top_rt_ct {
	padding: 10px;
	height: 60px;
	width: 235px;
	overflow: hidden;
}

.frame_content_top_rb {
	float: left;
	width: 255px;
	height: 130px;
	padding: 5px;
	background-color: white;
	border-radius: 10px;
	margin-left: 5px;
	overflow: hidden;
}

/* 最新文章 */
.frame_content_label {
	padding: 20px 10px 10px 0px;
	font-size: 14px;
	border-bottom: 2px solid rgb(255, 130, 0);

}

/* 内容部分 */
.frame_content_neirong {
	width: 810px;
	height: 197px;
	padding: 20px 0px 20px 0px;
	border-bottom: 2px solid rgb(191, 171, 134);
	margin-top: 20px;
	background-color: rgb(245, 245, 245);
}

.frame_content_neirong:hover {
	box-shadow: 5px 5px 55px rgb(191, 171, 134);
}

.frame_content_neirong_img:hover {
	/* 选择改变的地方 */
	transition-property: all;
	/* 持续时间 */
	transition-duration: 2s;
	/* 改变速度 */
	transition-timing-function: linear;
}

/* 内容图片 */
.frame_content_neirong_img img {
	width: 220px;
	height: 190px;
	float: left;
	overflow: hidden;
}

/* 内容 */
.frame_content_neirong_right_head {
	float: left;
	margin-left: 20px;
	width: 570px;
	border-bottom: 2px solid rgb(191, 171, 134);
	overflow: hidden;
	height: 34px;
	margin-bottom: 10px;
}

.frame_content_neirong_right_content {
	width: 570px;
	height: 85px;
	float: left;
	padding-left: 20px;
	overflow: hidden;
	font-size: 18px;
}

.frame_content_neirong_right_footer {
	width: 570px;
	height: 40px;
	float: left;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
}

/* 框架右边部分 */
.frame_right {
	height: 650px;
	width: 255px;
	background-color: white;
	float: left;
	padding: 10px;
	position: sticky;
	top: 50px;
	margin-top: 25px;
	border: 0px solid rgb(245, 245, 245);
	border-radius: 5px;
	margin-left: 20px;
}


/* 响应式超过600px 堆叠 */
/* 手机 */
/* 放的越大宽度越小 */
@media screen and (min-width:300px) and (max-width:1024px) {
	.nav {
		display: none;
	}

	.nav_center li {
		float: none;
		display: none;
	}

	.frame_right {
		display: none;
	}

	.frame_content_top {
		display: none;
	}

	.frame_content_label {
		width: 300px;
	}

	.frame {
		width: 300px;
		height: auto;
	}

	.frame_right {
		display: none;
	}

	.frame_content_neirong {
		width: 300px;
		height: 160px;
		padding: 5px 0 5px 0;
		margin-top: 10px;
		margin-bottom: 5px;
	}

	.frame_content {
		width: 300px;
		padding: 0;
		margin: 0 auto;
		overflow: hidden;
	}

	.frame_content_neirong_img img {
		width: 120px;
		height: 110px;
	}

	.frame_content_neirong_img {
		padding-top: 15px;
		width: 120px;
		height: 110px;
		float: left;
	}

	.frame_content_neirong_right_content {
		width: 350px;
		font-size: 9px;
	}

	.frame_content_neirong_right_head {
		float: left;
		width: 160px;
		border-bottom: 2px solid rgb(191, 171, 134);
		overflow: hidden;
	}

	.frame_content_neirong_right_content {
		width: 160px;
		height: 82px;
		float: left;
		overflow: hidden;
		font-size: 14px;
	}

	.frame_content_neirong_right_footer {
		width: 300px;
		height: 20px;
		float: left;
		padding-left: 0px;
		padding-top: 10px;
		padding-bottom: 0px;
		padding-right: 0px;
		overflow: hidden;
	}
}